<% content_for :title do %><%= @article.title %><% end %>

<h1><%= @article.title %></h1>

<div id="MainContent">
  <div class="destinations">
    <% @article.destinations.each do |dest| %>
      <div class="destination">
        <div class="photo" style="background-image: url('<%= dest.photo %>');"></div>
        <h2><%= link_to dest.name, destination_path(dest) %></h2>
        <%= simple_format dest.description %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'shared_partials/social_buttons' %>
</div>
