<h1>現在地を設定する</h1>

<div id="MainContent">
  <%= form_tag(controller: :current_locations, action: 'create') do %>
    <p>
    <%= text_field_tag :current_location, '', placeholder: '地名・住所（例：渋谷）' %>
    </p>
    <p class="suggested_address">
    現在地を「<span class="suggested_address"></span>」にセットします。よろしければ「送信」ボタンを押してください。
    </p>
    <p>
    <%= hidden_field_tag :suggested_address %>
    <%= submit_tag '送信', disabled: 'disabled' %>
    </p>
  <% end %>

  <div class="clear-current_location">
    <%= link_to clear_current_locations_path, method: 'post' do %><i class="fa fa-trash-o" aria-hidden="true"></i> 現在地の設定をクリアする<% end %>
  </div>
</div>
