<% content_for :title do %><%= @dest.name %><% end %>

<% content_for :og_description do %><%= @dest.description %><% end %>
<% content_for :og_image do %><%= @dest.photo %><% end %>

<h1><%= @dest.name %></h1>

<div class="cover_photo" style="background-image: url('<%= @dest.photo %>');"></div>

<div id="MainContent">
  <%= simple_format @dest.description, class: 'description' %>

  <h2>現在地から<%= @dest.name %>への行き方</h2>
  <div class="distance">距離：<span class="distance">（計算中...）</div>
  <div id="RouteMap" data-latitude="<%= @dest.latitude %>" data-longitude="<%= @dest.longitude %>" data-title="<%= @dest.name %>"></div>

  <% if @dest.spots.present? %>
    <h2><%= @dest.name %>周辺のおすすめスポット</h2>

    <% @dest.spots.each do |spot| %>
      <div class="spot">
        <% if spot.photo.present? %>
          <div class="photo" style="background-image: url('<%= spot.photo %>');"></div>
        <% end %>
        <div class="text <% if spot.photo.present? %>with_photo<% else %>without_photo<% end %>">
          <h3><%= spot.name %></h3>
          <%= simple_format spot.description, class: 'description' %>
          <p class="display_in_map"><span class="display_in_map", data-name="<%= spot.name %>" data-latitude="<%= spot.latitude %>", data-longitude="<%= spot.longitude %>"><i class="fa fa-map-marker" aria-hidden="true"></i> 地図上に表示</span></p>
          <p class="url"><span><i class="fa fa-external-link" aria-hidden="true"></i> <%= link_to spot.url, spot.url, target: '_blank' %></span></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'shared_partials/social_buttons' %>
</div>
