<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? "#{yield(:title)} | サイクリング／ロングライドのコースを探そう！"  : "Chari Routes - サイクリング／ロングライドのコースを探そう！" %></title>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= stylesheet_link_tag "Slidebars/dist/slidebars.min.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster+Two:700" %>

     <%= Gon::Base.render_data %>
    <script defer src="https://maps.googleapis.com/maps/api/js<%= "?key=#{ENV['CYCLING_ROUTES_GOOGLE_API_KEY']}" if ENV['CYCLING_ROUTES_GOOGLE_API_KEY'] %>"></script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "Slidebars/dist/slidebars.min.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller_name="<%= controller.controller_name %>" data-action_name="<%= controller.action_name %>">

    <div id="sb-site">
      <div id="Header">
        <i id="MenuHandle" class="fa fa-2x fa-bars" aria-hidden="true"></i>
        <span class="site_name">Chari Route</span>
      </div>

      <%= yield %>

      <div id="Footer">
        <div id="Copyright"><i class="fa fa-copyright" aria-hidden="true"></i> Chari Route</div>
      </div>
    </div>

    <div class="sb-slidebar sb-left">
      <nav>
        <ul>
          <li><%= link_to destinations_path do %><i class="fa fa-heart" aria-hidden="true"></i> おすすめサイクリングルート<% end %></li>
          <li><%= link_to new_current_location_path do %><i class="fa fa-location-arrow" aria-hidden="true"></i> 現在地を設定する<% end %></li>
        </ul>
      </nav>
    </div>
    <%= render partial: 'shared_partials/ga_tag' if Rails.env.production? %>
  </body>
</html>
