<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "CyclingRoutes" %></title>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= stylesheet_link_tag "Slidebars/dist/slidebars.min.css" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "Slidebars/dist/slidebars.min.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-contoller_name="<%= controller.controller_name %>" data-action_name="<%= controller.action_name %>">

    <%= yield %>

  </body>
</html>
